.title {
  text-align: center;
}
.navhover {
  color: #f9f9f7;
  transition-duration: 0.4s;
}
.pagebox {
  background-color: #f0f0ec;
}
.tag-btn {
  border-radius: 5px;
  background: lightblue;
  margin: 5px;
}
.chk-btn {
  offset-position: -20px;
}
.navbar-default {
  background-color: #004064;
}
.background {
  background-color: #f9f9f7;
  padding-top: 40px;
  min-height: 600px;
}
.footer {
  background-color: #004064;
}
.card-event {
  /* background-color: #6c8a9f; */
  background-color: #f0f0ec;
}
.navbar-nav {
  color: #f9f9f7;
}
.navtext {
  color: #f9f9f7;
}
.navbar-nav > li > a {
  color: #f9f9f7;
}
.navbar-nav > li > a:hover {
  color: lightgrey;
}
.navbar {
  background-color: #004064;
}
.scrollHeader {
  background-color: #004064;
}
.input-group {
  display: flex;
  margin-bottom: 20px;
  padding-bottom: 0px;
  align-items: center;
  align-content: center;
}
.colorStuff {
  background-color: #004064;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 0px;
  margin-right: 0px;
  max-width: 1500px;
}
.heading {
  text-align: center;
}
.centerStuff {
  align-items: stretch;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.right {
  text-align: right;
  opacity: 0;
}
.btn {
  color: black;
  border: none;
  font-size: 24px;
  background: none;
}
.btn:hover {
  color: gold;
  border: none;
  font-size: 24px;
  background: none;
}
.btnf {
  color: gold;
  border: none;
  font-size: 24px;
  background: none;
}
